.abc {
  /* height: 100%;
  width: 100%; */
  background-image: url("../../public/bg1.png");
  background-size: contain;
}

.add-item-page {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  height: auto;
  background-color: rgba(255, 255, 255, 0.121);
  backdrop-filter: blur(25px);
}

.add-item-card {
  position: relative;
  margin: 50px 0;
  /* height: auto; */
  width: 80%;
  max-width: 800px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.584);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.header {
  background-color: black;
  color: white;
  border-radius: 10px 10px 0 0;
  text-align: center;
  padding: 20px;
  width: 100%;
  height: auto;
}

.header h2 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
}

.header p {
  margin: 0;
  opacity: 0.9;
  font-size: 1rem;
}

.item-type-sec {
  padding: 15px;
  /* background-color: pink; */
  width: 100%;
  max-width: 550px;
}

.item-type-label {
  display: block;
  margin: 8px 0;
  font-weight: 700;
  text-align: center;
}

.item-type-btns {
  background-color: rgba(192, 192, 192, 0.208);
  width: 100%;
  height: 50px;
  border-radius: 25px;
  padding: 3px 4px;
  display: flex;
  justify-content: space-between;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.23);
}

.item-type-btn-active {
  height: 100%;
  width: 50%;
  border-radius: 50px;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
}

.item-type-btn-inactive {
  height: 100%;
  width: 50%;
  border-radius: 50px;
  border: none;
  font-weight: 600;
  font-size: 1rem;
  color: rgba(39, 38, 38, 0.704);
  background-color: rgba(97, 99, 100, 0);
  cursor: pointer;
}



.addItemForm {
  display: block;
  width: 100%;
  max-width: 550px;
  /* background-color: palegreen; */
}

.input-label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.753);
}

.input-label span {
  color: red;
}


.add-item-card form input,
textarea {
  display: block;
  width: 100%;
  height: 45px;
  font-size: 0.9rem;
  padding: 3px 12px;
  margin: 0 0 2vh;
  border: 2px solid rgba(114, 114, 114, 0.41);
  border-radius: 12px;
  outline: none;
  /* box-shadow: 0 0 6px rgba(0, 0, 0, 0.248); */
}

.upld-img-box-false,
.upld-img-box-true {
  border: 2px dashed rgba(114, 114, 114, 0.41);
  border-radius: 12px;
  height: 200px;
  text-align: center;
  padding: 20px;
  margin-bottom: 1vh;
  cursor: pointer;
  position: 0;
}

.upld-img-box-true {
  border: 2px dashed rgba(0, 0, 0, 0.66);
}

.cam-icon {
  font-size: 2.5rem;
  margin-bottom: 8px;
}

.upld-img-box-false p,
.upld-img-box-true p {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.83);
  margin-bottom: 8px;
}

.upld-img-box-false span,
.upld-img-box-true span {
  font-size: 0.9rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.326);
}

.img-preview-box {
  position: relative;
  border: 2px solid #e0e0e0;
  border-radius: 12px;
  overflow: hidden;
}

.img-preview-box img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.img-preview-box button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 14px;
}

.item-submit-button {
  height: 55px;
  width: 100%;
  border-radius: 12px;
  border: none;
  color: white;
  background-color: black;
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 40px;
}

.item-submit-button:hover {
  cursor: pointer;
}

.item-submit-button:active {
  background-color: rgba(0, 0, 0, 0.907);
  transform: scale(1.01);
}


/* textarea {
  height: 4vh;
  width: 20vw;
  margin: 5px 0;
} */

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 14px;
}

.close-button:hover {
  cursor: pointer;
  border: 1px solid rgba(128, 128, 128, 0.262);
  border-radius: 2px;
}

.close-button:active {
  transform: scale(1.1);
  color: rgba(128, 128, 128, 0.7);
}