* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.registration-page{
  background-color: rgb(250, 250, 250);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  height: 100vh;
}

.registration-box {
  position: absolute;
  width: 60vh;
  height: 70vh;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.248);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration-box img {
  margin: 4vh 0 3vh 0;
  width: 14vh;
  height: auto;
}

.registration-box form input{
  display: block;
  width: 32vh;
  height: 4.4vh;
  padding: 3px 6px;
  margin: 0.2vh 0 1.2vh;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.248);
}

.submit {
  display: block;
  width: 32vh;
  height: 4.4vh;
  padding: 3px 6px;
  margin: 0.2vh 0 0.8vh;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.248);
  color: white;
  font-size: 0.9rem;
  background-color: black;
}

.submit:hover {
  cursor: pointer;
}

.submit:active{
  background-color: rgba(0, 0, 0, 0.907);
  transform: scale(1.01);
}

.new-user {
  font-size: 0.85rem;
  color: rgb(0, 72, 255);
  margin-bottom: 100px;
}

.close-registration-button{
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  color: rgba(128, 128, 128, 0.6);
  height: 4vh;
  width: 2vw;
  font-size: 1.2em;
}

.close-registration-button:hover{
  cursor: pointer;
  border: 1px solid rgba(128, 128, 128, 0.262);
  border-radius: 2px;
}

.close-registration-button:active{
  transform: scale(1.1);
  color: rgba(128, 128, 128, 0.7);
}